{% extends 'base.html' %}

{% load static %}

{% block section %}
<h2>
    {{ object.first_name }} {{ object.last_name }}
    {% if object.selection_id %}
        ( <a href="{% url "selection-detail" object.selection_id %}">
            {{ object.selection }}
        </a> )
    {% endif %}
    </h2>

    <p><strong>comments: </strong>{{ object.comment|default:"no comments" }}</p>
    
<hr>
{% endblock section %}

{% block maincontent %}
<div>
<div>
    <img src="{% static object.photo.url %}" style="width:250px;height:330px" />
</div>
</div>
<br>

<a href="{% url "player-update" object.id %}" class="btn btn-dark rounded-pill">Edit</a>
<a href="{% url "player-delete" object.id %}"class="btn btn-dark rounded-pill">delete</a> 
{% endblock maincontent %} 